.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */

li {
  list-style-type: none;
}
.category-list-container {
  padding-left: 0px;
}

.rating-list-container {
  padding-left: 0px;
}

.rating-item-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating-image {
  width: 75%;
}
/* @media screen and (max-width: 576px) {
  .rating-item-card {
    width: 50%;
  }
  .rating-image {
    width: 100%;
  }
} */
.clear-btn {
  color: #0967d2;
  border-color: #0967d2;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
}
